.hexagon
{
    float:left;
    overflow:hidden;
    visibility:hidden;
    width:400px;
    height:200px;
    transform:rotate(120deg); 
	margin:0 -138px -98px -85px; /*background:rgba(255,0,0,0.5)*/}
				
.outer
{
    overflow:hidden;
    width:100%;
    height:100%;
    transform:rotate(-60deg);
    /*background:rgba(0,255,0,0.5)*/
}
				
.inner
{
    overflow:hidden;
    position:relative;
    visibility:visible;
    width:100%;
    height:100%;
    transform:rotate(-60deg); 
	/*opacity:0.5*/
}
				
.textWrapper
{
    position:absolute;
    top:0;
    opacity:0;
    left:80px;
    width:235px;
    height:200px;
    z-index:500; 
	background:rgba(255,255,255,1);
    /*border:1px solid black;top:0px;*/
	transition:all 0.2s;
}
				
.text
{
    position:absolute;
    top:60px;
    left:50px;
    width:150px;
    height: auto;
    z-index:500;
	/*border:1px solid red;*/}

.text2
{
    position:absolute;
    top:48px;
    left:50px;
    width:150px;
    height: auto;
    z-index:500;
	/*border:1px solid red;*/}

.inner:hover .textWrapper {
    opacity:1;
}

.even {
    margin-top: 102px;
}

.fixhexagon {
    margin-left: 92px;
}

.row {
    clear:left
}

.hexagon-button {
    margin-left: 70px;
    margin-top: 140px;
}

.heritage{background:/*#0000ff*/ url(../images/icon_heritage.jpg) 50% 50% no-repeat; background-size:contain; }

.property{background:/*#0000ff*/ url(../images/icon_property.jpg) 50% 50% no-repeat; background-size:contain; }

.family{background:/*#0000ff*/ url(../images/icon_family.jpg) 50% 50% no-repeat; background-size:contain; }

.study{background:/*#0000ff*/ url(../images/icon_study.jpg) 50% 50% no-repeat; background-size:contain;}

.forex{background:/*#0000ff*/ url(../images/icon_forex.jpg) 50% 50% no-repeat; background-size:contain;}

.money{background:/*#0000ff*/ url(../images/icon_money.jpg) 50% 50% no-repeat; background-size:contain;}

.immi{background:/*#0000ff*/ url(../images/icon_immi.jpg) 50% 50% no-repeat; background-size:contain;}

.tax{background:/*#0000ff*/ url(../images/icon_tax.jpg) 50% 50% no-repeat; background-size:contain;}

.sankofa-center {
    margin-top: 165px;
    margin-bottom: 440px;
    margin-left: 150px;
    opacity: 0.9;
}